*{
    font-family: 'Montserrat', sans-serif;
}

.buscar{
    background-color: #0002;
}

.buscar:focus{
    background-color: #0004;
}

.container{
    overflow-y: scroll;
}

.container::-webkit-scrollbar {
    width: 8px;     /* Tamaño del scroll en vertical */
    height: 8px;    /* Tamaño del scroll en horizontal */
    display: none;  /* Ocultar scroll */
}