.container-top{
    display: none;
    visibility: hidden;
    justify-content: center;
    width: 100%;
    height: 10%;
}

.imagen-top{
    width: 30%;
}

.logo{
    display: flex;
}

.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pregunta{
    width: 50%;
    background: #454142;
    color: #fff;
    min-width: 250px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    margin: 5px;
}

.pregunta::placeholder{
    color: #fff;
}
.input{
    border: none;
    outline: none;
}

.pregunta:hover{
    animation-name: en_input;
    animation-duration: .3s;
    background: #333;
}

.pregunta:focus{
    animation-name: en_input;
    animation-duration: .3s;
    background: #333;
}

.enviar{
    background: #222;
    height: 75px;
}

.qr{
    width: 350px;
    height: 350px;
}

@keyframes en_input{
    0%{
        background: #333;
        background: radial-gradient(circle, #333 0%, #454142 100%);
    }
    10%{
        background: #333;
        background: radial-gradient(circle, #333 10%, #454142 100%);
    }
    20%{
        background: #333;
        background: radial-gradient(circle, #333 20%, #454142 100%);
    }
    30%{
        background: #333;
        background: radial-gradient(circle, #333 30%, #454142 100%);
    }
    40%{
        background: #333;
        background: radial-gradient(circle, #333 40%, #454142 100%);
    }
    50%{
        background: #333;
        background: radial-gradient(circle, #333 50%, #454142 100%);
    }
    60%{
        background: #333;
        background: radial-gradient(circle, #333 60%, #454142 100%);
    }
    70%{
        background: #333;
        background: radial-gradient(circle, #333 70%, #454142 100%);
    }
    80%{
        background: #333;
        background: radial-gradient(circle, #333 80%, #454142 100%);
    }
    90%{
        background: #333;
        background: radial-gradient(circle, #333 90%, #454142 100%);
    }
    100%{
        background: #333;
        background: radial-gradient(circle, #333 99%, #454142 100%);
    }
}