.img-fondo{
    left: 0;
    top: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -100;
}

.container-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 10%;
    animation-name: logo;
    animation-duration: 3s;
}
.frase{
    margin-bottom: 30px;
    animation-name: frase;
    animation-duration:3s;
}
.img-fondo2{
    width: 30%;
    animation-name: img-logo;
    animation-duration:3s;
}

@keyframes logo{
    from {
        background-color: #fff;
        z-index: 5;
        height: 100%;
        height: 100%;
        visibility: visible;
    }
    to{
        background-color: #fff0;
        height: 10%;
        visibility: visible;
    }
}

@keyframes img-logo{
    from {
        width: 95%;
    }
    to{
        width: 30%;
    }
}

@keyframes frase{
    from{
        font-size: xx-large;
    }
    to{
        font-size: medium;
    }
}