<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/css/consulta.css">
    <link rel="stylesheet" href="/css/fondo-consultas">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/imagenes/logo-simple.png">
    <script>
        let paso = '<%- JSON.stringify(consulta) %>';
    </script>
    <script src="/js/consulta.js"></script>
    <title>consulta</title>
</head>
<body onload="hola(paso);">
    <div>
        <table>
            <thead>
                <tr class="elemento">
                    <td class="dato nombre">Nombre</td>
                    <td class="dato pregunta">Pregunta</td>
                    <td class="dato respuesta">Respuesta</td>
                </tr>
            </thead>
            <tbody>
            <% 
            let actual = consulta[0].nombre;
            let tabla = false;
            for (i=0; i<consulta.length;i++){
                if (tabla==false){
                    tabla = true %>
                <% }
                if (actual != consulta[i].nombre){
                    actual = consulta[i].nombre;
                }
                try{
                    if (actual != consulta[i+1].nombre){
                        tabla = false;
                        console.log(`actual ${actual}`);
                        console.log(`siguiente ${consulta[i+1].nombre}`);
                    }
                }catch{
                    console.log('fin');
                } %>
                        <tr class="elemento">
                            <td class="dato nombre"><%= consulta[i].nombre %></td>
                            <td class="dato pregunta"><%= consulta[i].pregunta %></td>
                            <td class="dato respuesta"><%= consulta[i].respuesta %></td>
                        </tr>

                <% if (tabla==false){ %>
                    <tr class="elemento">
                        <td class="dato nombre"></td>
                        <td class="dato pregunta"></td>
                        <td class="dato respuesta"></td>
                    </tr>
                <% }
            } %>
            </tbody>
        </table>
    </div>
</body>
</html>