<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/consulta.css">
    <link rel="stylesheet" href="/css/fondo-consultas">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/imagenes/logo-simple.png">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <script>
        let paso = '<%- JSON.stringify(consulta) %>';
    </script>
    <script src="/js/consulta.js"></script>
    <title>consulta</title>
</head>
<body onload="tablaCompleta(paso);">
    <div class="">
        <input placeholder="Buscar" class="d-inline w-75 form-control border border-dark rounded-pill" type="text" id="buscar-pal" onkeyup="autocompletado(paso);">
        <button class="btn btn-secondary" onclick="bajarxls('table','datos');">Descargar datos</button>
    </div>
    <div>
        <table id="table" class="table">
        </table>
    </div>
</body>
</html>