<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/css/consulta.css">
    <link rel="stylesheet" href="/css/fondo-consultas">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/imagenes/logo-simple.png">
    <script>
        let paso = '<%- JSON.stringify(consulta) %>';
    </script>
    <script src="/js/consulta.js"></script>
    <title>consulta</title>
</head>
<body">
    <input type="text" id="buscar-pal" onkeyup="autocompletado(paso)" style="border: solid 2px">
    <div>
        <ul id="demo"></ul>
    </div>
</body>
</html>