<img src="/imagenes/fondo.jpeg" alt="" class="img-fondo">
<div class="container-logo" id="container-fondo" onclick="ocultar()">
    <img src="/imagenes/logo-nombre.png" alt="" class="img-fondo2">
</div>