<!DOCTYPE html>
<html>

<head>
    <title>PLASTIC SURGERY RECOVERY</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/index.css">
    <link href="https://fonts.googleapis.com/css2?family=Mate+SC&display=swap" rel="stylesheet">
    <link rel="icon" href="/imagenes/logo-simple.png">
    <meta charset="utf-8"> 
    <meta name="robots" content="noindex">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../js/index.js"></script>
</head>
<body>
    <img src="/imagenes/plantilla-1.png" alt="" class="img-fondo">
    <div class="container-logo">
        <img src="/imagenes/logo-nombre.png" alt="" class="img-fondo2">
    </div>
    <div class="container">
        <a href="/inicial" class="encuesta inicial">Encuesta Inicial</a><br>
        <a href="/final" class="encuesta final">Encuesta Final</a>
    </div>
</body>
</html>